################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AppsTracker/bin
/src/AppsTracker/obj
/src/AppsTracker.Common/bin
/src/AppsTracker.Tracking/bin
/src/TestResults
/src/packages
/src/AppsTracker.v12.suo
/src/AppsTracker.Tracking/obj
/src/AppsTracker.Tests/bin
/src/AppsTracker.Tests/obj/Beta
/src/AppsTracker.Tests/obj
/src/AppsTracker.Data/bin
/src/AppsTracker.Data/obj
/src/AppsTracker.Common/obj
/src/.vs/AppsTracker/v14
/src/AppsTracker/AppsTracker.csproj.user
/src/AppsTracker.Domain/bin
/src/AppsTracker.Domain/obj
/src/AppsTracker.Presentation/bin
/src/AppsTracker.Presentation/obj
/src/AppsTracker.Data/Db/DbConnectionFactory.cs
